body {
    background-image: url("star\ cove.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a:link, a:visited {
    display: flex;
    background-image: linear-gradient(to right, rgb(224, 171, 255), rgb(255, 114, 250));
    background-clip: text;
    color: transparent;
    font-size: 30px;
    text-decoration: none;
    margin-top: 28px;
}
a:hover {
    transition: 1s;
    color: rgb(186, 0, 0);
}
#navbar {
    display: flex;
    height: 89px;
    width: 1440px;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    background-image: url('purp.jpg');
    font-family: 'Rubik Glitch';
}
#nav {
    top: 0;
    position: sticky;
    z-index: 2000;
}
#contact {
    font-family: 'Rubik Glitch';
    color: aliceblue;
    text-align: center;
    font-size: 60px;
}
#contacts {
    font-family: 'Rubik Glitch';
    color: aliceblue;
    text-align: center;
}
#jig {
    display: flex;
    margin-left: 550px;
    width: 300px;
}
#wait {
    font-family: 'Rubik Glitch';
    color: aliceblue;
    text-align: center;
    font-size: 17px;
}
#img1 {
    display: flex;
    width: 1000px;
    margin-left: 220px;
    border: solid azure 5px;
}
#img2 {
    display: flex;
    width: 1000px;
    margin-left: 220px;
    border: solid red 3px;
}